* {
    list-style: none;
    list-style-type: none;
    text-decoration: none !important;
}

.navbar-collapse {
    flex-grow: 0;
}

/* Background */
.bg_dark_custom{
    background-color: #2C3E50 !important;
}

.bg_light_custom{
    background-color: #3A546D !important;
}

.bg_light_green_custom{
    background-color: #1ABC9C !important;
}

.bg-body-tertiary{
    background-color: #2C3E50 !important;
}

/* Color */

.color_dark_custom{
    color: #2C3E50 !important;
}

.color_light_green_custom{
    color: #1ABC9C !important;
}

/* Custom */

.navbar-toggler{
    background-color: rgba(255, 255, 255, 1);
    color: #fff;
}

.img-fluid{
    max-width: 20%;
}

.line{
    width: 10vw;
    height: 2px;
    border-radius: 2px;
}

.box_social_icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.max-w-custom{
    max-width: 1000px;
}

/* Input */

.input,
.textMessage{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
    border-bottom: 1px solid #2c3e506e;
}

@media only screen and (max-width: 500px){
    .max-w-custom{
        max-width: 400px;
    }
}